<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="MainFolder" value="Dossier ou les document seront enregistrées" />
		<add key="port" value="6060" />
	</appSettings>
</configuration>
